body {
	background: #222;
}

.container {
	width: 850px;
	height: 200px;
	margin: auto;
	position: relative;
}

.bar {
	width: 500px;
	height: 3px;
	background-color: #fff;
	top: 105px;
	left: 164px;
}

.pos{
	position: absolute;
	background-color: #fff;
}

.scale {
	-webkit-animation:scale-animation 9s ease; /* Webkit pour chrome, safari, opera et mobiles */
		animation:scale-animation 9s ease; /* Animation nommée "scale-animation" qui dure 9s avec une transition en ease */
}

@-webkit-keyframes scale-animation { /* On définit la timeline en appelant l'animation pour les navigateurs utilisant le webkit*/
	0% {-webkit-transform:scaleX(0.05); /* Webkit pour les anciennes versions de Chrome, Safari etc. */
			transform:scaleX(0.05);} /* A 0%, on effectue une transformation en modifiant la taille de la div sur l'axe x (ici on diminue sa valeur) */

	100% {-webkit-transform:scaleX(1);
		  	transform:scaleX(1)} /* A 100%, la div récupère sa largeur initiale (500px) */
}

@keyframes scale-animation { /* Pour les navigateurs lisant les animations nativement */
	0% {-webkit-transform:scaleX(0.05); /* Peut servir si la prochaine version d'IOS lit nativement les animations mais pas les transformations (par exemple)*/
			-o-transform:scaleX(0.05); /*Idem pour Opera Mini (on sait jamais... :-)*/
				transform:scaleX(0.05);} /* Pour les navigateurs qui lisent animations et transformations nativement */
	100% {-webkit-transform:scaleX(1);
		  	-o-transform:scaleX(1);
				transform:scaleX(1);}
}


.R {
  width: 6px;
  height: 46px;
  top: 48px; 
  left: 202px;  
  -webkit-animation: fadeIn 4.5s ease-in; /* Ease-in pour avoir un départ lent */ 
  	animation: fadeIn 4.5s ease-in;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0; left:202px; top: 100px;} /* On définit l'opacité et la position de la div lors de l'initialisation de l'animation */
	80% {opacity: 0;} 
	100% {opacity: 1; top: 48px; left: 202px;} /* Idem à la fin*/
}

@keyframes fadeIn {
	0% {opacity: 0; left:202px; top: 100px;}
	80% {opacity: 0;} 
	100% {opacity: 1; top: 48px; left: 202px;}
}

.R1 {
  width: 19px;
  height: 11px;
  border-radius: 50% / 100% 100% 0 0; /* On arrondi la div pour le R. Le slash permet d'effectuer des modifications sur les axes horizontal (avant le slash) et vertical (après) séparément */
  border: 5px solid #fff; /* Contour blanc continu de 5px */
  border-bottom: none; /* Pas de bordure en bas de la div */
  left:203px;
  top:55px;
  position: absolute;
  -webkit-transform: rotate(90deg); /* Pour certaines versions de Chrome, Safari, Opera... */
    -moz-transform: rotate(90deg); /* Pour Firefox avant la version 15 */
      -o-transform: rotate(90deg); /* Pour Opera avant la version 12 */
        -ms-transform: rotate(90deg); /* Pour IE 9 */
          transform: rotate(90deg);
  -webkit-animation: fadeIn1 4s;
  	animation: fadeIn1 4s;
}

@-webkit-keyframes fadeIn1 {
	0% {opacity: 0;}

	50% {opacity: 0; 
		 top: 40px; 
		 left: 208px; 
		 -webkit-transform: rotate(50deg); /* Rotation de 50 degrés dans le sens horaire */
			transform: rotate(50deg);} 

	100% {opacity: 1; 
		 left:203px; 
		 top:55px; 
		 -webkit-transform: rotate(90deg); /* Pour finir à 90 degrés */
			 transform: rotate(90deg);}
}

@keyframes fadeIn1 {
	0% {opacity: 0;}

	50% {opacity: 0; 
		 top: 40px; 
		 left: 208px; 
		 -webkit-transform: rotate(50deg); 
			 -o-transform: rotate(50deg); 
				 transform: rotate(50deg);} 

	100% {opacity: 1; 
		 left:203px; 
		 top:55px; 
		 -webkit-transform: rotate(90deg);
			 -o-transform: rotate(90deg); 
				 transform: rotate(90deg);}
}

.R2 {
  width: 6px;
  height: 16px;
  left:217px; 
  top:78px;
  -webkit-transform: skewX(30deg); /* SkewX de 30 degrés pour avoir un div "plate" en haut et en bas tout en ayant une inclinaison */
    -moz-transform: skewX(30deg);
	  -o-transform: skewX(30deg);
		  -ms-transform: skewX(30deg);
			  transform: skewX(30deg);
  -webkit-animation: fadeIn2 3s;
    animation: fadeIn2 3s;
}

@-webkit-keyframes fadeIn2 {
	0% {opacity: 0;   top: 78px; left: 287px;}
	60% {opacity: 0;} 
	100% {opacity: 1; left:217px; top:78px;}
}

@keyframes fadeIn2 {
	0% {opacity: 0;   top: 78px; left: 287px;}
	60% {opacity: 0;} 
	100% {opacity: 1; left:217px; top:78px;}
}

.O {
  width: 30px;
  height: 15px;
  border-radius: 50% / 100% 100% 0 0;
  border: 5px solid #fff;
  border-bottom: none;
  left:230px;
  top:49px;
  position: absolute;
  -webkit-transform: rotate(-45deg); /* Rotation de 45 degrés dans le sens antihoraire */
    -moz-transform: rotate(-45deg);
 		-o-transform: rotate(-45deg);
  			-ms-transform: rotate(-45deg);
  				transform: rotate(-45deg);
  -webkit-animation: fadeIn3 3s;
    animation: fadeIn3 3s;
}

@-webkit-keyframes fadeIn3 {
	0% {opacity: 0;  top: 20px; left: 220px;}
	20% {opacity: 0;} 
	100% {opacity: 1; left:230px; top:49px;}
}

@keyframes fadeIn3 {
	0% {opacity: 0;  top: 20px; left: 220px;}
	20% {opacity: 0;} 
	100% {opacity: 1; left:230px; top:49px;}
}

.O1 {
  width: 30px;
  height: 15px;
  border-radius: 50% / 100% 100% 0 0;
  border: 5px solid #fff;
  border-bottom: none;
  left:244px;
  top:70px;
  position: absolute;
  -webkit-transform: rotate(135deg);
  	-moz-transform: rotate(135deg);
  		-o-transform: rotate(135deg);
  			-ms-transform: rotate(135deg);
  				transform: rotate(135deg);
  -webkit-animation: fadeIn33 5s;
    animation: fadeIn33 5s;
}

@-webkit-keyframes fadeIn33 {
	0% {opacity: 0;}
	50% {opacity: 0; top: 80px; left: 244px;} 
	100% {opacity: 1; left:244px; top:70px;}
}

@keyframes fadeIn33 {
	0% {opacity: 0;}
	50% {opacity: 0; top: 80px; left: 244px;} 
	100% {opacity: 1; left:244px; top:70px;}
}

.O-bar {
  width: 3px;
  height: 30px;
  left:255px;
  top:55px;
  -webkit-transform: rotate(90deg) skewX(45deg);
    -moz-transform: rotate(90deg) skewX(45deg);
  		-o-transform: rotate(90deg) skewX(45deg);
  			-ms-transform: rotate(90deg) skewX(45deg);
  				transform: rotate(90deg) skewX(45deg);
  -webkit-animation: fadeIn333 6s;
  	animation: fadeIn333 6s;
}

@-webkit-keyframes fadeIn333 {
	0% {opacity: 0;}
	75% {opacity: 0; top: 20px; left: 290px;} 
	100% {opacity: 1; left:255px; top:55px;}
}

@keyframes fadeIn333 {
	0% {opacity: 0;}
	75% {opacity: 0; top: 20px; left: 290px;} 
	100% {opacity: 1; left:255px; top:55px;}
}

.M {
  width: 6px;
  height: 45px;
  left:292px; 
  top:49px;
  -webkit-animation: fadeIn4 3s;
  	animation: fadeIn4 3s;
}

@-webkit-keyframes fadeIn4 {
	0% {opacity: 0; top: 30px; left: 292px;}
	20% {opacity: 0;} 
	100% {opacity: 1; left:292px; top:49px;}
}

@keyframes fadeIn4 {
	0% {opacity: 0; top: 30px; left: 292px;}
	20% {opacity: 0;} 
	100% {opacity: 1; left:292px; top:49px;}
}

.M1 {
  width: 10px;
  height: 15px;
  left:302px; 
  top:58px;
  -webkit-transform: rotate(90deg) skewX(-60deg);
    -moz-transform: rotate(90deg) skewX(-60deg);
  		-o-transform: rotate(90deg) skewX(-60deg);
  			-ms-transform: rotate(90deg) skewX(-60deg);
  				transform: rotate(90deg) skewX(-60deg);
  -webkit-animation: fadeIn5 3s;
    animation: fadeIn5 3s;
}

@-webkit-keyframes fadeIn5 {
	0% {opacity: 0; top:550px; left:550px;}
	80% {opacity: 0;} 
	100% {opacity: 1; left:302px; top:58px;}
}

@keyframes fadeIn5 {
	0% {opacity: 0; top:550px; left:550px;}
	80% {opacity: 0;} 
	100% {opacity: 1; left:302px; top:58px;}
}

.M2 {
  width: 10px;
  height: 15px;
  left:318px;
  top:58px;
  -webkit-transform: rotate(90deg) skewX(60deg);
    -moz-transform: rotate(90deg) skewX(60deg);
  		-o-transform: rotate(90deg) skewX(60deg);
  			-ms-transform: rotate(90deg) skewX(60deg);
  				transform: rotate(90deg) skewX(60deg);
  -webkit-animation: fadeIn6 6s;
  	animation: fadeIn6 6s;
}

@-webkit-keyframes fadeIn6 {
	0% {opacity: 0; top: 2px; left: 610px;}
	90% {opacity: 0;} 
	100% {opacity: 1; left:318px; top:58px;}
}

@keyframes fadeIn6 {
	0% {opacity: 0; top: 2px; left: 610px;}
	90% {opacity: 0;} 
	100% {opacity: 1; left:318px; top:58px;}
}

.M3 {
  width: 6px;
  height: 45px;
  left:332px; 
  top:49px;
  -webkit-animation: fadeIn7 3s;
  	animation: fadeIn7 3s;
}

@-webkit-keyframes fadeIn7 {
	0% {opacity: 0; top: 70px; left: 332px;}
	20% {opacity: 0;} 
	100% {opacity: 1; left:332px; top:49px;}
}

@keyframes fadeIn7 {
	0% {opacity: 0; top: 70px; left: 332px;}
	20% {opacity: 0;} 
	100% {opacity: 1; left:332px; top:49px;}
}

.A {
    width: 10px;
    height: 16px;
    left:363px; 
    top:55px;
	border:1px solid #fff;
	border-color:transparent transparent #fff transparent;
	border-width: 4px;
	position: absolute;
 	-webkit-animation: fadeIn8 5s;
 		animation: fadeIn8 5s;
}

@-webkit-keyframes fadeIn8 {
	0% {opacity: 0;}
	50% {opacity: 0; top: 65px; left: 363px;} 
	100% {opacity: 1; left:363px; top:55px;}
}

@keyframes fadeIn8 {
	0% {opacity: 0;}
	50% {opacity: 0; top: 65px; left: 363px;} 
	100% {opacity: 1; left:363px; top:55px;}
}

.A1 {
  width: 5px;
  height: 48px;
  left:379px;
  top:47px;
  -webkit-transform: rotate(-10deg) skewX(10deg) SkewY(10deg);
    -moz-transform: rotate(-10deg) skewX(10deg) SkewY(10deg);
  		-o-transform: rotate(-10deg) skewX(10deg) SkewY(10deg);
  			-ms-transform: rotate(-10deg) skewX(10deg) SkewY(10deg);
  				transform: rotate(-10deg) skewX(10deg) SkewY(10deg);
  -webkit-animation: fadeIn9 5s;
    animation: fadeIn9 5s;
}

@-webkit-keyframes fadeIn9 {
	0% {opacity: 0; top: 47px; left: 400px;}
	20% {opacity: 0;} 
	100% {opacity: 1; left:379px; top:47px;}
}

@keyframes fadeIn9 {
	0% {opacity: 0; top: 47px; left: 400px;}
	20% {opacity: 0;} 
	100% {opacity: 1; left:379px; top:47px;}
}

.A2 {
  width: 5px;
  height: 48px;
  left:360px;
  top:47px;
  -webkit-transform: rotate(10deg) skewX(-10deg) SkewY(-10deg);
    -moz-transform: rotate(10deg) skewX(-10deg) SkewY(-10deg);
  		-o-transform: rotate(10deg) skewX(-10deg) SkewY(-10deg);
  			-ms-transform: rotate(10deg) skewX(-10deg) SkewY(-10deg);
  				transform: rotate(10deg) skewX(-10deg) SkewY(-10deg);
  -webkit-animation: fadeIn10 3s;
    animation: fadeIn10 3s;
}

@-webkit-keyframes fadeIn10 {
	0% {opacity: 0;}
	70% {opacity: 0; top: 47px; left: 355px;} 
	100% {opacity: 1; left:360px; top:47px;}
}

@keyframes fadeIn10 {
	0% {opacity: 0;}
	70% {opacity: 0; top: 47px; left: 355px;} 
	100% {opacity: 1; left:360px; top:47px;}
}

.I {
  width: 6px;
  height: 45px;
  left:405px; 
  top:49px;
  -webkit-animation: fadeIn11 6s;
  	animation: fadeIn11 6s;
}

@-webkit-keyframes fadeIn11 {
	0% {opacity: 0;}
	80% {opacity: 0; top: 35px; left: 405px;} 
	100% {opacity: 1; left:405px; top:49px;}
}

@keyframes fadeIn11 {
	0% {opacity: 0;}
	80% {opacity: 0; top: 35px; left: 405px;} 
	100% {opacity: 1; left:405px; top:49px;}
}

.N {
  width: 6px;
  height: 45px;
  left:425px; 
  top:49px;
  -webkit-animation: fadeIn12 3s;
    animation: fadeIn12 3s;
}

@-webkit-keyframes fadeIn12 {
	0% {opacity: 0; top: 30px; left: 425px;}
	10% {opacity: 0;} 
	100% {opacity: 1; left:425px; top:49px;}
}

@keyframes fadeIn12 {
	0% {opacity: 0; top: 30px; left: 425px;}
	10% {opacity: 0;} 
	100% {opacity: 1; left:425px; top:49px;}
}

.N1 {
  width: 10px;
  height: 20px;
  left:437px; 
  top:61px;
  -webkit-transform: rotate(90deg) skewX(-60deg);
    -moz-transform: rotate(90deg) skewX(-60deg);
  		-o-transform: rotate(90deg) skewX(-60deg);
  			-ms-transform: rotate(90deg) skewX(-60deg);
  				transform: rotate(90deg) skewX(-60deg);
  -webkit-animation: fadeIn13 2.5s;
  	animation: fadeIn13 2.5s;
}

@-webkit-keyframes fadeIn13 {
	0% {opacity: 0; top:40px; left:460px;}
	50% {opacity: 0;} 
	100% {opacity: 1; left:437px; top:61px;}
}

@keyframes fadeIn13 {
	0% {opacity: 0; top:40px; left:460px;}
	50% {opacity: 0;} 
	100% {opacity: 1; left:437px; top:61px;}
}

.N2 {
  width: 6px;
  height: 45px;
  left:453px; 
  top:49px;
  -webkit-animation: fadeIn14 7s;
  	animation: fadeIn14 7s;
}

@-webkit-keyframes fadeIn14 {
	0% {opacity: 0;}
	80% {opacity: 0; top: 49px; left: 453px;} 
	100% {opacity: 1; left:453px; top:49px;}
}


@keyframes fadeIn14 {
	0% {opacity: 0;}
	80% {opacity: 0; top: 49px; left: 453px;} 
	100% {opacity: 1; left:453px; top:49px;}
}

.L1 {
  width: 6px;
  height: 45px;
  left:491px; 
  top:49px;
  position: absolute;
  -webkit-animation: fadeIn15 2s;
	animation: fadeIn15 2s;
}

@-webkit-keyframes fadeIn15 {
	0% {opacity: 0; top: 10px; left: 491px;}
	40% {opacity: 0;} 
	100% {opacity: 1; left:491px; top:49px;}
}

@keyframes fadeIn15 {
	0% {opacity: 0; top: 10px; left: 491px;}
	40% {opacity: 0;} 
	100% {opacity: 1; left:491px; top:49px;}
}

.L {
  width: 20px;
  height: 6px;
  left:498px; 
  top:88px;
  position: absolute;
  -webkit-animation: fadeIn16 2s;
	animation: fadeIn16 2s;
}

@-webkit-keyframes fadeIn16 {
	0% {opacity: 0; top: 88px; left: 520px;}
	20% {opacity: 0;} 
	100% {opacity: 1; left:498px; top:88px;}
}

@keyframes fadeIn16 {
	0% {opacity: 0; top: 88px; left: 520px;}
	20% {opacity: 0;} 
	100% {opacity: 1; left:498px; top:88px;}
}


.A4 {
    width: 10px;
    height: 16px;
    left:540px; 
    top:56px;
	border:1px solid #fff;
	border-color:transparent transparent #fff transparent;
	border-width: 4px;
 	position: absolute;
	-webkit-animation: fadeIn17 3s;
	  animation: fadeIn17 3s;
}

@-webkit-keyframes fadeIn17 {
	0% {opacity: 0;}
	20% {opacity: 0; top: 70px; left: 540px;} 
	100% {opacity: 1; left:540px; top:56px;}
}

@keyframes fadeIn17 {
	0% {opacity: 0;}
	20% {opacity: 0; top: 70px; left: 540px;} 
	100% {opacity: 1; left:540px; top:56px;}
}

.A5 {
  width: 5px;
  height: 48px;
  left:556px;
  top:47px;
  -webkit-transform: rotate(-10deg) skewX(10deg) SkewY(10deg);
    -moz-transform: rotate(-10deg) skewX(10deg) SkewY(10deg);
  		-o-transform: rotate(-10deg) skewX(10deg) SkewY(10deg);
  			-ms-transform: rotate(-10deg) skewX(10deg) SkewY(10deg);
 				 transform: rotate(-10deg) skewX(10deg) SkewY(10deg);
  -webkit-animation: fadeIn18 3s;
  	animation: fadeIn18 3s;
}

@-webkit-keyframes fadeIn18 {
	0% {opacity: 0; top: 35px; left: 556px;}
	20% {opacity: 0;} 
	100% {opacity: 1; left:556px; top:47px;}
}

@keyframes fadeIn18 {
	0% {opacity: 0; top: 35px; left: 556px;}
	20% {opacity: 0;} 
	100% {opacity: 1; left:556px; top:47px;}
}

.A6 {
  width: 5px;
  height: 48px;
  left:537px;
  top:47px;
  -webkit-transform: rotate(10deg) skewX(-10deg) SkewY(-10deg);
    -moz-transform: rotate(10deg) skewX(-10deg) SkewY(-10deg);
  		-o-transform: rotate(10deg) skewX(-10deg) SkewY(-10deg);
  			-ms-transform: rotate(10deg) skewX(-10deg) SkewY(-10deg);
  				transform: rotate(10deg) skewX(-10deg) SkewY(-10deg);
  -webkit-animation: fadeIn19 5s;
  	animation: fadeIn19 5s;
}

@-webkit-keyframes fadeIn19 {
	0% {opacity: 0;}
	70% {opacity: 0;  top: 47px; left: 530px;} 
	100% {opacity: 1; left:537px; top:47px;}
}

@keyframes fadeIn19 {
	0% {opacity: 0;}
	70% {opacity: 0;  top: 47px; left: 530px;} 
	100% {opacity: 1; left:537px; top:47px;}
}

.P {
  width: 6px;
  height: 45px;
  top: 49px; 
  left: 582px;  
  -webkit-animation: fadeIn20 4s;
    animation: fadeIn20 4s;
}

@-webkit-keyframes fadeIn20 {
	0% {opacity: 0;}
	80% {opacity: 0;  left:578px;} 
	100% {opacity: 1; top: 49px; left: 582px;}
}

@keyframes fadeIn20 {
	0% {opacity: 0;}
	80% {opacity: 0;  left:578px;} 
	100% {opacity: 1; top: 49px; left: 582px;}
}


.P1 {
  width: 19px;
  height: 11px;
  position: relative;
  border-radius: 50% / 100% 100% 0 0;
  border: 5px solid #fff;
  border-bottom: none;
  left:583px;
  top:55px;
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
 		-o-transform: rotate(90deg);
  			-ms-transform: rotate(90deg);
  				transform: rotate(90deg);
  -webkit-animation: fadeIn21 3s;
  	animation: fadeIn21 3s;
}

@-webkit-keyframes fadeIn21 {
	0% {opacity: 0;}
	50% {opacity: 0; 
		 top: 60px; 
		 left: 600px; 
		 -webkit-transform: rotate(150deg);
		 	transform: rotate(150deg);} 
	100% {opacity: 1; 
		  left:583px; 
		  top:55px; 
		  -webkit-transform: rotate(90deg);
			transform: rotate(90deg);}
}

@keyframes fadeIn21 {
	0% {opacity: 0;}
	50% {opacity: 0; 
		 top: 60px; 
		 left: 600px; 
		 -webkit-transform: rotate(150deg);
			-o-transform: rotate(150deg);
			 	transform: rotate(150deg);} 
	100% {opacity: 1; 
		 left:583px; 
		 top:55px; 
		 -webkit-transform: rotate(90deg);
		 	-o-transform: rotate(90deg);
		 		transform: rotate(90deg);}
}

.I1 {
  width: 6px;
  height: 45px;
  left:618px; 
  top:49px;
  -webkit-animation: fadeIn22 4s;
	animation: fadeIn22 4s;
}

@-webkit-keyframes fadeIn22 {
	0% {opacity: 0;}
	80% {opacity: 0; top: 49px; left: 630px;} 
	100% {opacity: 1; left:618px; top:49px;}
}

@keyframes fadeIn22 {
	0% {opacity: 0;}
	80% {opacity: 0; top: 49px; left: 630px;} 
	100% {opacity: 1; left:618px; top:49px;}
}