{{ include('partials/header.twig') }}

<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorem ad at iure id consequuntur. Modi doloribus saepe dolorum quae eveniet at qui deserunt, odit, officiis totam alias, magni vitae?</p>

{{ include('partials/footer.twig') }}