{{ include('partials/header.twig') }}

<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti nemo, consequuntur delectus ratione deserunt quibusdam tenetur! Praesentium, quam autem nam omnis suscipit, nulla quas, cum aliquam deleniti architecto totam dignissimos.</p>

{{ include('partials/footer.twig') }}