<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mon site</title>
	<link rel="stylesheet" href="{{ global.request.basepath }}/assets/main.css">
</head>
<body>
	<header>
		<h1>Coucou header {{ values.key1 }}</h1>
	</header>