<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Newsletter title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="margin:0;padding:0;background-color:#ececec;" bgcolor="#ececec">
    <table width="98%" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color:#ececec;">
        <tr>
            <td>
                <table width="600" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td width="600" height="200" style="background-color:#00707B;font-family:Arial;font-size:12px;text-align:center;color:#ffffff;">
                            Contenu
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
