/*ANIMATION 1 : OUVERTURE DU LIVRE*/
@-webkit-keyframes OuvrirLivre {
    0% {-webkit-transform:rotateY(0deg);}
    5% {-webkit-transform:rotateY(-90deg);}
    20% {-webkit-transform:rotateY(-90deg);}
    100% {-webkit-transform:rotateY(-90deg);}
}
@keyframes OuvrirLivre {
    0% {transform:rotateY(0deg);}
    5% {transform:rotateY(-90deg);}
    20% {transform:rotateY(-90deg);}
    100% {transform:rotateY(-90deg);}
}

@-webkit-keyframes ZoomLivre {
0% {-webkit-transform:translateX(0em)  scale(1);opacity:1;}
5% {-webkit-transform:translateX(0em) scale(1);opacity:1;}
20% {-webkit-transform:translateX(140em) scale(17);opacity:1;}
50% {-webkit-transform:translateX(140em) scale(17);opacity:1;}
100% {-webkit-transform:translateX(140em) scale(17);opacity:0;}
}
@keyframes ZoomLivre {
0% {transform:translateX(0em) scale(1);opacity:1;}
5% {transform:translateX(0em) scale(1);opacity:1;}
20% {transform:translateX(140em) scale(17);opacity:1;}
50% {transform:translateX(140em) scale(17);opacity:1;}
100% {transform:translateX(140em) scale(17);opacity:0;}
}

/*ANIMATION 2 : APPARITION FUSEE + COMPTE A REBOURD*/

@-webkit-keyframes BaseDeLancement {
    0% {-webkit-transform: translateY(50em);opacity:1;}
    20% {-webkit-transform: translateY(32em);opacity:1;}
    80% {-webkit-transform: translateY(32em);opacity:1;}
    100% {-webkit-transform: translateY(50em);opacity:0;}
}
@keyframes BaseDeLancement {
    0% {transform: translateY(50em);opacity:1;}
    20% {transform: translateY(35em);opacity:1;}
    80% {transform: translateY(35em);opacity:1;}
    100% {transform: translateY(50em);opacity:0;}
}


@-webkit-keyframes ApparitionFusee {
    0% {-webkit-transform: translateX(-100em) translateY(100em);}
    20% {-webkit-transform: translateX(40em) translateY(15em);}
    60% {-webkit-transform: translateX(40em) translateY(15em);}
    80% {-webkit-transform: translateX(40em) translateY(-60em);}
    100% {-webkit-transform: translateX(0em) translateY(-50em);}
}
@keyframes ApparitionFusee {
    0% {transform: translateX(-100em) translateY(100em);}
    20% {transform: translateX(40em) translateY(15em);}
    60% {transform: translateX(40em) translateY(15em);}
    80% {transform: translateX(40em) translateY(-60em);}
    100% {transform: translateX(0em) translateY(-50);}
}
@-webkit-keyframes FEU {
    0% {opacity:0;}
    30% {opacity:0;}
    40% {opacity:1;}
    100% {opacity:1;}
}
@keyframes FEU {
    0% {opacity:0;}
    30% {opacity:0;}
    40% {opacity:1;}
    100% {opacity:1;}
}

@-webkit-keyframes Vrooum {
    0% {background-image: url(../image/FlammeA.png);}
    10% {background-image: url(../image/FlammeB.png);}
    20% {background-image: url(../image/FlammeC.png);}
    30% {background-image: url(../image/FlammeD.png);}
    40% {background-image: url(../image/FlammeE.png);}
    50% {background-image: url(../image/FlammeF.png);}
    60% {background-image: url(../image/FlammeG.png);}
    70% {background-image: url(../image/FlammeH.png);}
    80% {background-image: url(../image/FlammeI.png);}
    90% {background-image: url(../image/FlammeJ.png);}
    100% {background-image: url(../image/FlammeA.png);}
}
@keyframes Vrooum {
    0% {background-image: url(../image/FlammeA.png);}
    10% {background-image: url(../image/FlammeB.png);}
    20% {background-image: url(../image/FlammeC.png);}
    30% {background-image: url(../image/FlammeD.png);}
    40% {background-image: url(../image/FlammeE.png);}
    50% {background-image: url(../image/FlammeF.png);}
    60% {background-image: url(../image/FlammeG.png);}
    70% {background-image: url(../image/FlammeH.png);}
    80% {background-image: url(../image/FlammeI.png);}
    90% {background-image: url(../image/FlammeJ.png);}
    100% {background-image: url(../image/FlammeA.png);}
}


@-webkit-keyframes NuageA {
    0% {-webkit-transform:  translateX(13em) translateY(50em);opacity:1;}
    30% {-webkit-transform:  translateX(13em) translateY(50em);opacity:1;}
    40% {-webkit-transform:  translateX(13em) translateY(35.2em);opacity:1;}
    80% {-webkit-transform:  translateX(13em) translateY(35.2em);opacity:1;}
    100% {-webkit-transform:  translateX(13em) translateY(50em);opacity:0;}
}
@keyframes NuageA {
    0% {transform:  translateX(13em) translateY(50em);opacity:1;}
    30% {transform:  translateX(13em) translateY(50em);opacity:1;}
    40% {transform:  translateX(13em) translateY(35.2em);opacity:1;}
    80% {transform:  translateX(13em) translateY(35.2em);opacity:1;}
    100% {transform:  translateX(13em) translateY(50em);opacity:0;}
}
@-webkit-keyframes NuageB {
    0% {-webkit-transform: translateX(18em) translateY(50em);opacity:1;}
    30% {-webkit-transform: translateX(18em) translateY(50em);opacity:1;}
    44% {-webkit-transform: translateX(18em) translateY(34.5em);opacity:1;}
    80% {-webkit-transform: translateX(18em) translateY(34.5em);opacity:1;}
    100% {-webkit-transform: translateX(18em) translateY(50em);opacity:0}
}
@keyframes NuageB {
    0% {transform: translateX(18em) translateY(50em);opacity:1;}
    30% {transform: translateX(18em) translateY(50em);opacity:1;}
    44% {transform: translateX(18em) translateY(34.5em);opacity:1;}
    80% {transform: translateX(18em) translateY(34.5em);opacity:1;}
    100% {transform: translateX(18em) translateY(50em);opacity:0;}
}
@-webkit-keyframes NuageC {
    0% {-webkit-transform: translateX(20em) translateY(50em);opacity:1;}
    30% {-webkit-transform: translateX(20em) translateY(50em);opacity:1;}
    48% {-webkit-transform: translateX(20em) translateY(32.7em);opacity:1;}
    80% {-webkit-transform: translateX(21em) translateY(32.7em);opacity:1;}
    100% {-webkit-transform: translateX(21em) translateY(50em);opacity:0;}
}
@keyframes NuageC {
    0% {transform: translateX(20em) translateY(50em);opacity:1;}
    30% {transform: translateX(20em) translateY(50em);opacity:1;}
    48% {transform: translateX(20em) translateY(32.7em);opacity:1;}
    80% {transform: translateX(21em) translateY(32.7em);opacity:1;}
    100% {transform: translateX(21em) translateY(50em);opacity:0;}
}
@-webkit-keyframes NuageD {
    0% {-webkit-transform: translateX(12.1em) translateY(50em);opacity:1;}
    30% {-webkit-transform: translateX(12.1em) translateY(50em);opacity:1;}
    52% {-webkit-transform: translateX(12.1em) translateY(31.8em);opacity:1;}
    80% {-webkit-transform: translateX(11.1em) translateY(31.8em);opacity:1;}
    100% {-webkit-transform: translateX(11.1em) translateY(50em);opacity:0;}
}
@keyframes NuageD {
    0% {transform: translateX(12.1em) translateY(50em);opacity:1;}
    30% {transform: translateX(12.1em) translateY(50em);opacity:1;}
    52% {transform: translateX(12.1em) translateY(31.8em);opacity:1;}
    80% {transform: translateX(11.1em) translateY(31.8em);opacity:1;}
    100% {transform: translateX(11.1em) translateY(50em);opacity:0;}
}
@-webkit-keyframes NuageE {
    0% {-webkit-transform: translateX(21em) translateY(50em);opacity:1;}
    30% {-webkit-transform: translateX(21em) translateY(50em);opacity:1;}
    56% {-webkit-transform: translateX(21em) translateY(29em);opacity:1;}
    80% {-webkit-transform: translateX(23em) translateY(29em);opacity:1;}
    100% {-webkit-transform: translateX(23em) translateY(50em);opacity:0;}
}
@keyframes NuageE {
    0% {transform: translateX(21em) translateY(50em);opacity:1;}
    30% {transform: translateX(21em) translateY(50em);opacity:1;}
    56% {transform: translateX(21em) translateY(29em);opacity:1;}
    80% {transform: translateX(23em) translateY(29em);opacity:1;}
    100% {transform: translateX(23em) translateY(50em);opacity:0;}
}
@-webkit-keyframes NuageF {
    0% {-webkit-transform: translateX(12.3em) translateY(50em);opacity:1;}
    30% {-webkit-transform: translateX(12.3em) translateY(50em);opacity:1;}
    60% {-webkit-transform: translateX(12.3em) translateY(28.1em);opacity:1;}
    80% {-webkit-transform: translateX(9.3em) translateY(28.1em);opacity:1;}
    100% {-webkit-transform: translateX(9.3em) translateY(50em);opacity:0;}
}
@keyframes NuageF {
    0% {transform: translateX(12.3em) translateY(50em);dopacity:1;}
    30% {transform: translateX(12.3em) translateY(50em);opacity:1;}
    60% {transform: translateX(12.3em) translateY(28.1em);opacity:1;}
    80% {transform: translateX(9.3em) translateY(28.1em);opacity:1;}
    100% {transform: translateX(9.3em) translateY(50em);opacity:0;}
}
@-webkit-keyframes NuageG {
    0% {-webkit-transform: translateX(18em) translateY(50em);opacity:1;}
    30% {-webkit-transform: translateX(18em) translateY(50em);opacity:1;}
    64% {-webkit-transform: translateX(18em) translateY(24em);opacity:1;}
    80% {-webkit-transform: translateX(21em) translateY(24em);opacity:1;}
    100% {-webkit-transform: translateX(21em) translateY(50em);opacity:0;}
}
@keyframes NuageG {
    0% {transform: translateX(18em) translateY(50em);opacity:1;}
    30% {transform: translateX(18em) translateY(50em);opacity:1;}
    64% {transform: translateX(18em) translateY(24em);opacity:1;}
    80% {transform: translateX(21em) translateY(24em);opacity:1;}
    100% {transform: translateX(21em) translateY(50em);opacity:0;}
}


/*ANIMATION 3 : SORTIE DE L'ATMOSPHERE + OBJECTIF LUNE*/

@-webkit-keyframes Overview {
    0% {-webkit-transform: rotateX(0deg) rotateY(0deg) translateX(0em) translateY(-50em);}
    20% {-webkit-transform: rotateX(-50deg) rotateY(70deg) translateX(0em) translateY(0em);}
    40% {-webkit-transform: rotateX(-50deg) rotateY(140deg) translateX(0em) translateY(0em);}
    60% {-webkit-transform: rotateX(50deg) rotateY(210deg) translateX(0em) translateY(0em);}
    80% {-webkit-transform: rotateX(50deg) rotateY(280deg) translateX(0em) translateY(0em);}
    100% {-webkit-transform: rotateX(0deg) rotateY(360deg) translateX(0em) translateY(0em);}
}
@keyframes Overview {
    0% {transform: rotateX(0deg) rotateY(0deg) translateX(0em) translateY(-50em);}
    20% {transform: rotateX(50deg) rotateY(70deg) translateX(0em) translateY(0em);}
    40% {transform: rotateX(50deg) rotateY(140deg) translateX(0em) translateY(0em);}
    60% {transform: rotateX(-50deg) rotateY(210deg) translateX(0em) translateY(0em);}
    80% {transform: rotateX(-50deg) rotateY(280deg) translateX(0em) translateY(0em);}
    100% {transform: rotateX(0deg) rotateY(360deg) translateX(0em) translateY(0em);}
}

@-webkit-keyframes Terre {
    0% {-webkit-transform: translateX(10em) translateY(50em) scale(1); opacity:1;}
    20% {-webkit-transform: translateX(10em) translateY(25em) scale(0.8); opacity:1;}
    40% {-webkit-transform: translateX(10em) translateY(25em) scale(0.6); opacity:1;}
    60% {-webkit-transform: translateX(10em) translateY(50em) scale(0.4); opacity:1;}
    80% {-webkit-transform: translateX(10em) translateY(50em); opacity:1;}
    100% {-webkit-transform: translateX(10em) translateY(50em); opacity:1;}
}
@keyframes Terre {
    0% {transform: translateX(10em) translateY(50em) scale(1); opacity:1;}
    20% {transform: translateX(10em) translateY(25em) scale(0.8); opacity:1;}
    40% {transform: translateX(10em) translateY(25em) scale(0.6); opacity:1;}
    60% {transform: translateX(10em) translateY(50em) scale(0.4); opacity:1;}
    80% {transform: translateX(10em) translateY(50em); opacity:1;}
    100% {transform: translateX(10em) translateY(50em); opacity:1;}
}

@-webkit-keyframes Lune {
    0% {-webkit-transform: translateX(18em) translateY(-20em); opacity:1;}
    20% {-webkit-transform: translateX(18em) translateY(-20em); opacity:1;}
    40% {-webkit-transform: translateX(18em) translateY(-20em) scale(0.7); opacity:1;}
    60% {-webkit-transform: translateX(18em) translateY(0em) scale(0.8); opacity:1;}
    80% {-webkit-transform: translateX(18em) translateY(0em) scale(0.9); opacity:1;}
    100% {-webkit-transform: translateX(18em) translateY(-20em) scale(1); opacity:1;}
}
@keyframes Lune {
    0% {transform: translateX(18em) translateY(-20em); opacity:1;}
    20% {transform: translateX(18em) translateY(-20em); opacity:1;}
    40% {transform: translateX(18em) translateY(-20em) scale(0.7); opacity:1;}
    60% {transform: translateX(18em) translateY(0em) scale(0.8); opacity:1;}
    80% {transform: translateX(18em) translateY(0em) scale(0.9); opacity:1;}
    100% {transform: translateX(18em) translateY(-20em) scale(1); opacity:1;}
}

/*GESTION DE LA VISIBILITE DE LA FUSEE*/
@-webkit-keyframes HideFusee {
    0% {opacity:0;}
    99% {opacity:0;}
    100% {opacity:1;}
}
@keyframes HideFusee {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes TourneFusee {
    0% {-webkit-transform:rotateY(0deg);}
    100% {-webkit-transform:rotateY(360deg);}
}
@keyframes TourneFusee {
    0% {transform:rotateY(0deg);}
    100% {transform:rotateY(360deg);}
}
/*CREDITS*/
@-webkit-keyframes Credits {
    0% {-webkit-transform:translateY(-320em);}
    100% {-webkit-transform:translateY(20em);}
}
@keyframes Credits {
    0% {transform:translateY(-320em);}
    100% {transform:translateY(20em);}
}