.Link{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(-4em) translateY(-15em) translateZ(-5em) skewX(0deg) skewY(50deg);
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(-4em) translateY(-15em) translateZ(-5em) skewX(0deg) skewY(50deg);
}
.Link li{
    position: absolute;
    background-color:#e82a34;
    display:block;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.CoteA{
    -webkit-transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateX(0em) translateY(.5em) translateZ(-4.5em);
    transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateX(0em) translateY(.5em) translateZ(-4.5em);
    height:1em;
    width:10em;
}
.CoteB{
    -webkit-transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0em) translateY(0em) translateZ(1em);
    transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0em) translateY(0em) translateZ(1em);
    height:5em;
    width:10em;
}
.CoteC{
    -webkit-transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateX(0em) translateY(.5em) translateZ(.5em);
    transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateX(0em) translateY(.5em) translateZ(.5em);
    height:1em;
    width:10em;
}
.CoteD{
    -webkit-transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0em) translateY(0em) translateZ(0em);
    transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0em) translateY(0em) translateZ(0em);
    height:5em;
    width:10em;
}