.coneInv, .Invline {
    position: absolute;
    top: 0px;
    left: 0px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.coneInv {
    padding: 0;
    list-style: none;
    transform: rotateZ(180deg);
}
.Invline {
    width: 34px;
    height: 150px;
    transform-origin: 10% -30%;
    background-image: url(../image/Cone.png);
    background-repeat: no-repeat;
    background-size: contain;

}
.Invline:nth-child(1) {
    -webkit-transform: rotateY(0deg) rotateX(15deg);transform: rotateY(0deg) rotateX(15deg);
    transform: rotateY(0deg) rotateX(15deg);transform: rotateY(0deg) rotateX(15deg);
}
.Invline:nth-child(2) {
    -webkit-transform: rotateY(15deg) rotateX(15deg);transform: rotateY(15deg) rotateX(15deg);
    transform: rotateY(15deg) rotateX(15deg);transform: rotateY(15deg) rotateX(15deg);
}
.Invline:nth-child(3) {
    -webkit-transform: rotateY(30deg) rotateX(15deg);transform: rotateY(30deg) rotateX(15deg);
    transform: rotateY(30deg) rotateX(15deg);transform: rotateY(30deg) rotateX(15deg);
}
.Invline:nth-child(4) {
    -webkit-transform: rotateY(45deg) rotateX(15deg);transform: rotateY(45deg) rotateX(15deg);
    transform: rotateY(45deg) rotateX(15deg);transform: rotateY(45deg) rotateX(15deg);
}
.Invline:nth-child(5) {
    -webkit-transform: rotateY(60deg) rotateX(15deg);transform: rotateY(60deg) rotateX(15deg);
    transform: rotateY(60deg) rotateX(15deg);transform: rotateY(60deg) rotateX(15deg);
}
.Invline:nth-child(6) {
    -webkit-transform: rotateY(75deg) rotateX(15deg);transform: rotateY(75deg) rotateX(15deg);
    transform: rotateY(75deg) rotateX(15deg);transform: rotateY(75deg) rotateX(15deg);
}
.Invline:nth-child(7) {
    -webkit-transform: rotateY(90deg) rotateX(15deg);transform: rotateY(90deg) rotateX(15deg);
    transform: rotateY(90deg) rotateX(15deg);transform: rotateY(90deg) rotateX(15deg);
}
.Invline:nth-child(8) {
    -webkit-transform: rotateY(105deg) rotateX(15deg);transform: rotateY(105deg) rotateX(15deg);
    transform: rotateY(105deg) rotateX(15deg);transform: rotateY(105deg) rotateX(15deg);
}
.Invline:nth-child(9) {
    -webkit-transform: rotateY(120deg) rotateX(15deg);transform: rotateY(120deg) rotateX(15deg);
    transform: rotateY(120deg) rotateX(15deg);transform: rotateY(120deg) rotateX(15deg);
}
.Invline:nth-child(10) {
    -webkit-transform: rotateY(135deg) rotateX(15deg);transform: rotateY(135deg) rotateX(15deg);
    transform: rotateY(135deg) rotateX(15deg);transform: rotateY(135deg) rotateX(15deg);
}
.Invline:nth-child(11) {
    -webkit-transform: rotateY(150deg) rotateX(15deg);transform: rotateY(150deg) rotateX(15deg);
    transform: rotateY(150deg) rotateX(15deg);transform: rotateY(150deg) rotateX(15deg);
}
.Invline:nth-child(12) {
    -webkit-transform: rotateY(165deg) rotateX(15deg);transform: rotateY(165deg) rotateX(15deg);
    transform: rotateY(165deg) rotateX(15deg);transform: rotateY(165deg) rotateX(15deg);
}
.Invline:nth-child(13) {
    -webkit-transform: rotateY(180deg) rotateX(15deg);transform: rotateY(180deg) rotateX(15deg);
    transform: rotateY(180deg) rotateX(15deg);transform: rotateY(180deg) rotateX(15deg);
}
.Invline:nth-child(14) {
    -webkit-transform: rotateY(195deg) rotateX(15deg);transform: rotateY(195deg) rotateX(15deg);
    transform: rotateY(195deg) rotateX(15deg);transform: rotateY(195deg) rotateX(15deg);
}
.Invline:nth-child(15) {
    -webkit-transform: rotateY(210deg) rotateX(15deg);transform: rotateY(210deg) rotateX(15deg);
    transform: rotateY(210deg) rotateX(15deg);transform: rotateY(210deg) rotateX(15deg);
}
.Invline:nth-child(16) {
    -webkit-transform: rotateY(225deg) rotateX(15deg);transform: rotateY(225deg) rotateX(15deg);
    transform: rotateY(225deg) rotateX(15deg);transform: rotateY(225deg) rotateX(15deg);
}
.Invline:nth-child(17) {
    -webkit-transform: rotateY(240deg) rotateX(15deg);transform: rotateY(240deg) rotateX(15deg);
    transform: rotateY(240deg) rotateX(15deg);transform: rotateY(240deg) rotateX(15deg);
}
.Invline:nth-child(18) {
    -webkit-transform: rotateY(255deg) rotateX(15deg);transform: rotateY(255deg) rotateX(15deg);
}
.Invline:nth-child(19) {
    -webkit-transform: rotateY(270deg) rotateX(15deg);transform: rotateY(270deg) rotateX(15deg);
    transform: rotateY(270deg) rotateX(15deg);transform: rotateY(270deg) rotateX(15deg);
}
.Invline:nth-child(20) {
    -webkit-transform: rotateY(285deg) rotateX(15deg);transform: rotateY(285deg) rotateX(15deg);
    transform: rotateY(285deg) rotateX(15deg);transform: rotateY(285deg) rotateX(15deg);
}
.Invline:nth-child(21) {
    -webkit-transform: rotateY(300deg) rotateX(15deg);transform: rotateY(300deg) rotateX(15deg);
    transform: rotateY(300deg) rotateX(15deg);transform: rotateY(300deg) rotateX(15deg);
}
.Invline:nth-child(22) {
    -webkit-transform: rotateY(315deg) rotateX(15deg);transform: rotateY(315deg) rotateX(15deg);
    transform: rotateY(315deg) rotateX(15deg);transform: rotateY(315deg) rotateX(15deg);
}
.Invline:nth-child(23) {
    -webkit-transform: rotateY(330deg) rotateX(15deg);transform: rotateY(330deg) rotateX(15deg);
    transform: rotateY(330deg) rotateX(15deg);transform: rotateY(330deg) rotateX(15deg);
}
.Invline:nth-child(24) {
    -webkit-transform: rotateY(345deg) rotateX(15deg);transform: rotateY(345deg) rotateX(15deg);
    transform: rotateY(345deg) rotateX(15deg);transform: rotateY(345deg) rotateX(15deg);
}




.Boost{
    position: absolute;
    top: 0px;
    left: 0px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(180deg) rotateY(0deg) rotateZ(0deg) translateX(0em) translateY(0em) translateZ(0em);
    transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(180deg) rotateY(0deg) rotateZ(0deg) translateX(0em) translateY(0em) translateZ(0em);
    -webkit-animation : FEU 10s ease 7s 1;
    animation : FEU 10s ease 7s 1;
}
.Boost li{
    height:100px;
    width:60px;
    background-repeat: no-repeat;
    display:block;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    box-shadow: 10px 10px 160px #e8cf0f;
    border-radius: 30px;
    
}
.FlammeA{
    transform-origin: 0% 100%;
    -webkit-transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(90deg) rotateZ(0deg) translateX(-1.5em) translateY(8em) translateZ(0em);
    transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(90deg) rotateZ(0deg) translateX(-1.5em) translateY(8em) translateZ(0em);
    -webkit-animation:Vrooum 1s linear 0s infinite;
    
}
.FlammeB{
    -webkit-transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(-2em) translateY(2em) translateZ(0em);
    transform:scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(-2em) translateY(2em) translateZ(0em);
    -webkit-animation:Vrooum 1s linear 0s infinite;
}


