body	{
    background-image: url(../image/Espace.jpg);
    background-size: cover;
    color:rgb(236,132,57)
}
.Texte{
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    width:250px;
    height:2200px;
    position: fixed;
    z-index:10;
    -webkit-animation : Credits 35s linear 27s infinite;
    animation : Credits 35s linear 27s infinite;
}



.Texte li{
    padding-top:350px;
    font-family: Tintin, arial;
    font-size: 2.5em;
    color:#ffdb26;
    text-align:center;
    text-shadow: 0 0 4px #545252;
}

@font-face {
    font-family: Tintin;
    src: url('../tintin_majuscule.TTF');
    font-weight: normal;
    font-style: normal;
}