.strip {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.col {
    position: absolute;
    background: #000 url(../image/Fuselage.png);
    background-size: cover;
    height:480px;
    width:16px;
}

.col:nth-child(1) {
    background-position: 350px 0;
    transform: rotateY(0deg) translateZ(54px);
    -webkit-transform: rotateY(0deg) translateZ(54px)
}

.col:nth-child(2) {
    background-position: 345px 0;
    transform: rotateY(15deg) translateZ(54px);
    -webkit-transform: rotateY(15deg) translateZ(54px)
}

.col:nth-child(3) {
    background-position: 330px 0;
    transform: rotateY(30deg) translateZ(54px);
    -webkit-transform: rotateY(30deg) translateZ(54px)
}

.col:nth-child(4) {
    background-position: 315px 0;
    transform: rotateY(45deg) translateZ(54px);
    -webkit-transform: rotateY(45deg) translateZ(54px)
}	

.col:nth-child(5) {
    background-position: 300px 0;
    transform: rotateY(60deg) translateZ(54px);
    -webkit-transform: rotateY(60deg) translateZ(54px)
}	

.col:nth-child(6) {
    background-position: 285px 0;
    transform: rotateY(75deg) translateZ(54px);
    -webkit-transform: rotateY(75deg) translateZ(54px)
}

.col:nth-child(7) {
    background-position: 270px 0;
    transform: rotateY(90deg) translateZ(54px);
    -webkit-transform: rotateY(90deg) translateZ(54px)
}

.col:nth-child(8) {
    background-position: 255px 0;
    transform: rotateY(105deg) translateZ(54px);
    -webkit-transform: rotateY(105deg) translateZ(54px)
}	

.col:nth-child(9) {
    background-position: 240px 0;
    transform: rotateY(120deg) translateZ(54px);
    -webkit-transform: rotateY(120deg) translateZ(54px)
}	

.col:nth-child(10) {
    background-position: 225px 0;
    transform: rotateY(135deg) translateZ(54px);
    -webkit-transform: rotateY(135deg) translateZ(54px)
}

.col:nth-child(11) {
    background-position: 210px 0;
    transform: rotateY(150deg) translateZ(54px);
    -webkit-transform: rotateY(150deg) translateZ(54px)
}

.col:nth-child(12) {
    background-position: 195px 0;
    transform: rotateY(165deg) translateZ(54px);
    -webkit-transform: rotateY(165deg) translateZ(54px)
}	

.col:nth-child(13) {
    background-position: 180px 0;
    transform: rotateY(180deg) translateZ(54px);
    -webkit-transform: rotateY(180deg) translateZ(54px)
}		

.col:nth-child(14) {
    background-position: 165px 0;
    transform: rotateY(195deg) translateZ(54px);
    -webkit-transform: rotateY(195deg) translateZ(54px)
}

.col:nth-child(15) {
    background-position: 150px 0;
    transform: rotateY(210deg) translateZ(54px);
    -webkit-transform: rotateY(210deg) translateZ(54px)
}

.col:nth-child(16) {
    background-position: 135px 0;
    transform: rotateY(225deg) translateZ(54px);
    -webkit-transform: rotateY(225deg) translateZ(54px)
}	

.col:nth-child(17) {
    background-position: 120px 0;
    transform: rotateY(240deg) translateZ(54px);
    -webkit-transform: rotateY(240deg) translateZ(54px)
}	

.col:nth-child(18) {
    background-position: 105px 0;
    transform: rotateY(255deg) translateZ(54px);
    -webkit-transform: rotateY(255deg) translateZ(54px)
}

.col:nth-child(19) {
    background-position: 90px 0;
    transform: rotateY(270deg) translateZ(54px);
    -webkit-transform: rotateY(270deg) translateZ(54px)
}

.col:nth-child(20) {
    background-position: 75px 0;
    transform: rotateY(285deg) translateZ(54px);
    -webkit-transform: rotateY(285deg) translateZ(54px)
}	

.col:nth-child(21) {
    background-position: 60px 0;
    transform: rotateY(300deg) translateZ(54px);
    -webkit-transform: rotateY(300deg) translateZ(54px)
}	

.col:nth-child(22) {
    background-position: 45px 0;
    transform: rotateY(315deg) translateZ(54px);
    -webkit-transform: rotateY(315deg) translateZ(54px)
}

.col:nth-child(23) {
    background-position: 30px 0;
    transform: rotateY(330deg) translateZ(54px);
    -webkit-transform: rotateY(330deg) translateZ(54px)
}

.col:nth-child(24) {
    background-position: 15px 0;
    transform: rotateY(345deg) translateZ(54px);
    -webkit-transform: rotateY(345deg) translateZ(54px)
}