body {background: #28493E;font-size: 14px;font-family: Helvetica; margin:0 0 0 0;}

/************** Mike Wazowski *************/
.cache{
	z-index: 100;
	background: #28493E;
	height:800px;
	width: 800px;
	top: 25%;
	left: 40%;
}
.mike_wazowski{
/** Position de la div **/
	position: absolute;
	z-index: 20;
	top: 25%;
	left: 40%;
}

.pupille{
	position: relative;
	margin: auto;
	top:30%;
}
.pupille.interieur{
/** Position de la div **/
	top:15%;
/** aspect de la div**/
	border-radius: 50%;
	width: 35px;
	height: 35px; 
	background-color:#000 ;
}

.pupille.exterieur{
/** Position de la div **/
/** aspect de la div**/
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	background-color:#0C3024 ;
}

.mike_eye{
/** Position de la div **/
	position: absolute;
	z-index: 23;
	top: 13%;
	left: 18%;
/** aspect de la div**/
	width:100px; 
	height:105px;
	background-color: white;
	-webkit-border-radius:63px 63px 63px 63px/ 108px 108px 72px 72px;
	border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
}

.eyelid{
/** Position de la div **/
	position: absolute;
	z-index: 22;
	top: 11%;
	left: 18%;
/** aspect de la div**/
	width:100px; 
	height:105px;
	background-color: green;
	-webkit-border-radius:63px 63px 63px 63px/ 108px 108px 72px 72px;
	border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
}

.horn{
/** aspect de la div**/
	width:30px; 
	height:50px;
	background-color: #fff;
	-webkit-border-radius:63px 63px 63px 63px/ 108px 108px 72px 72px;
	border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
}

.horn.left{
/** Position de la div **/
	position: absolute;
	z-index: 10;
	top:6%;
	left:10%;
/** rotation de la div (aspect)**/
	  -webkit-transform: rotate(-20deg);
    	-moz-transform: rotate(-20deg);
    	-o-transform: rotate(-20deg);
   		 -ms-transform: rotate(-20deg);
    	transform: rotate(-20deg);
}

.horn.right{
	position: absolute;
	z-index: 11;
	top:6%;
	left:47%;
/** rotation de la div (aspect)**/
	  -webkit-transform: rotate(20deg);
    	-moz-transform: rotate(20deg);
    	-o-transform: rotate(20deg);
   		 -ms-transform: rotate(20deg);
    	transform: rotate(20deg);
}

.body_mike_shadow{
/** Position de la div **/
	
	position: absolute;
	z-index: 21;
	top:5%;
	left:-1%;
/** aspect de la div**/
	width:230px; 
	height:240px;
	background-color:#38C93A;
	-webkit-border-radius:63px 63px 63px 63px/ 108px 108px 72px 72px;
	border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
}

.body_mike{
/** Position de la div **/
	overflow: hidden;
	z-index: 22;
	margin-bottom: 140px;
	margin-right: 115px;
	margin-top: 9%;
	left:35%;
/** Aspect de la div **/
	width:230px; 
	height:240px;
	background-color:#389A3A;
	-webkit-border-radius:63px 63px 63px 63px/ 108px 108px 72px 72px;
	border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
}

.feet{
/** Position de la div **/
	position: absolute;
	bottom:7%;
/** Aspect de la div **/
   width: 100px;
   height: 40px;
   background-color: #389A3A;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}


.leg.left{
/** Aspect de la div **/
	width:15px; 
	height:170px;
	background-color: #389A3A;
/** Position de la div **/
	position: absolute;
	z-index:-70;
	bottom:9%;
	left:20%;
}

.feet.left{
/** Position de la div **/
	position: absolute;
	z-index: 5;
	left:-4.5%;
}

.leg_and_feet_right{
/** Position de la div **/
	position: absolute;
	z-index:-71;
	bottom:13%;
	left:43%;
/** Aspect de la div **/
	width:170px; 
	height:170px;
}

.leg.right{	
/** Aspect de la div **/
	width:15px; 
	height:175px;
	background-color: #389A3A;
}

.feet.right{
/** Position de la div **/
	position: absolute;
	z-index: 5;
	top:90%;
	left:0%;	
}


.feet_shadow_right{
/** Aspect de la div **/
	width: 100px;
   height: 40px;
   background: #28493E;
/** Position de la div **/
	position: absolute;
	z-index: 6;
	top:60%;
}

.feet_shadow_left{
/** Aspect de la div **/
	width: 100px;
   height: 40px;
   background: #28493E;
/** Position de la div **/
	position: absolute;
	z-index: 6;
	bottom:-60%;
}

.arm{
/** aspect de la div**/
	width:15px; 
	height:140px;
}

.arm.left{
/** Position de la div **/
	position: absolute;
	z-index: 10;
	top:40%;
	left:-2%;
	/** aspect de la div**/
	background-color: #38C93A;
/** rotation de la div (aspect)**/
	  -webkit-transform: rotate(10deg);
    	-moz-transform: rotate(10deg);
    	-o-transform: rotate(10deg);
   		 -ms-transform: rotate(10deg);
    	transform: rotate(10deg);
}

.arm.right{
/** Position de la div **/
	position: absolute;
	z-index: -11;
	top:40%;
	left:65%;
	/** aspect de la div**/
	background-color: #389A3A;
/** rotation de la div (aspect)**/
	  -webkit-transform: rotate(-10deg);
    	-moz-transform: rotate(-10deg);
    	-o-transform: rotate(-10deg);
   		 -ms-transform: rotate(-10deg);
    	transform: rotate(-10deg);
}

.hand{
/** Aspect de la div **/
	width: 30px;
   height: 70px;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
/** rotation de la div (aspect)**/
	  -webkit-transform: rotate(180deg);
    	-moz-transform: rotate(180deg);
    	-o-transform: rotate(180deg);
   		 -ms-transform: rotate(180deg);
    	transform: rotate(180deg);
/** Position de la div **/
	position: absolute;
	top:62%;
}

.hand.left{
/** Aspect de la div **/
   background-color: #38C93A;
/** Position de la div **/
	position: absolute;
	z-index: 5;
	left:-7%;
}

.hand.right{
/** Aspect de la div **/
   background-color: #389A3A;
/** Position de la div **/
	position: absolute;
	z-index: 5;
	left:65%;
}

.mouth.open{
/** aspect de la div**/
	width: 80px;
	height: 40px;
	background: #000;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
/** Position de la div **/
	position: absolute;
	z-index: 23;
	top: 47%;
	left: 23%;
}

.mouth.close{
/** aspect de la div**/
	width: 90px;
	height: 42px;
	background: #38C93A;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
/** Position de la div **/
	position: absolute;
	z-index: 23;
	top: 8%;
	left:-3%;
/** rotation de la div (aspect)**/	
}
.go_away{
	font-size: 40px;
	font-family: 'Sigmar One', cursive;
	color:#fff;
	top: 40%;
	left: 30%;
	position: absolute;
}

/************** Animation *************/


/**Mike's eye blinks**/
	.mike_eye{
	-webkit-animation:blink 3s infinite;
	-webkit-transformation:0 100%;
	}

	@-webkit-keyframes blink{ 
	0% {transform: scaleY(0);}
	6% {transform: scaleY(1);}	
	}

/** Mike leg move **/
	
	.mike_wazowski{
		-webkit-animation:mike_moves 100s ease-in 0s 1;
		-webkit-animation-delay: 0s;
	}

	@-webkit-keyframes mike_moves{
		0% {transform:scale3d(0.2,0.2,0.2);}
		5%{transform:scale3d(1.,1,1);}
		5%{transform:translateX(0%)}
		10%{transform:translateX(0%)}
		20%{transform:translateX(0%)}
		22%{transform:translateX(35%)}
		24%{transform:translateX(35%)}
		26%{transform:translateX(70%)}
		28%{transform:translateX(70%)}
		30%{transform:translateX(105%)}
		32%{transform:translateX(105%)}
		34%{transform:translateX(140%)}
		36%{transform:translateX(140%)}
		38%{transform:translateX(175%)}
		40%{transform:translateX(175%)}
		42%{transform:translateX(210%)}
		44%{transform:translateX(210%)}
		46%{transform:translateX(245%)}
		47%{transform:translate(245%,200%)}
		48%{transform:translate(0%,130%)}
		49%{transform:translate(0%,130%)}
		53%{transform:translate(0%,45%)}
		100%{transform:translate(0%,45%)}

	}

	/**Mike Looks left and right**/
	.pupille{
		-webkit-animation:left_right_left 8s ease-in 0s 1;
		-webkit-animation-delay: 6s;
	}

	@-webkit-keyframes left_right_left{
		0%{transform:translateX(0)}
		20%{transform:translateX(-15%)}
		25%{transform:translateX(-15%)}
		45%{transform:translateX(0%)}
		50%{transform:translateX(0%)}
		70%{transform:translateX(15%)}
		75%{transform:translateX(15%)}
		100%{transform:translateX(0%)}
	}

	.leg.right{
		-webkit-animation:leg_skew 40s ease-in 0s 1;
		-webkit-animation-delay: 18s;
	}

	@-webkit-keyframes leg_skew{
		0%{transform:skewX(0deg)}
		5%{transform:skewX(21deg)}
		10%{transform:skewX(0deg)}
		15%{transform:skewX(21deg)}
		20%{transform:skewX(0deg)}
		25%{transform:skewX(21deg)}
		30%{transform:skewX(0deg)}
		35%{transform:skewX(21deg)}
		40%{transform:skewX(0deg)}
		45%{transform:skewX(21deg)}
		50%{transform:skewX(0deg)}
		55%{transform:skewX(21deg)}
		60%{transform:skewX(0deg)}
		65%{transform:skewX(21deg)}
		70%{transform:skewX(0deg)}
	}
	.feet.right{
		-webkit-animation:foot_move 40s ease-in 0s 1;
		-webkit-animation-delay: 18s;
	}

	@-webkit-keyframes foot_move{
		0%{transform:translateX(0%;)}
		5%{transform:translateX(35%)}
		10%{transform:translateX(0%)}
		15%{transform:translateX(35%)}
		20%{transform:translateX(0%)}
		25%{transform:translateX(35%)}
		30%{transform:translateX(0%)}
		35%{transform:translateX(35%)}
		40%{transform:translateX(0%)}
		45%{transform:translateX(35%)}
		50%{transform:translateX(0%)}
		55%{transform:translateX(35%)}
		60%{transform:translateX(0%)}
		65%{transform:translateX(35%)}
		70%{transform:translateX(0%)}
	}

/**End message appears**/

.go_away{
		-webkit-animation:go-away 200s ease-in 0s 1;
		-webkit-animation-delay: 0s;
	}

@-webkit-keyframes go-away{
	0% {opacity: 0;}
	27%{opacity: 0;}
	28%{opacity: 1;}
	100%{opacity: 1;}
}

