<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>Player</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link rel="stylesheet" href="src/css/main.css">
</head>
<body>
    <div class="player">
        <div class="cover"></div>
        <div class="informations">
            <div class="top">
                <h1>Dear misfortune, mother of joy</h1>
                <h2>Broken Back</h2>
                <div class="songs-count">5 songs</div>
            </div>
            <div class="bottom">
                <div class="release">
                    Release in 2015
                </div>
                <a href="#" class="toggle-play">
                    <span class="icon"></span>
                </a>
            </div>
        </div>
        <div class="description">
            <div class="title">Album Info</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui deleniti quas, eveniet, nesciunt atque ea facere magni veritatis quaerat, corporis quis omnis fugiat tenetur incidunt ipsum similique culpa aperiam voluptate.</p>
        </div>
        <div class="playlist">
            <div class="songs">
                <div class="song">
                    <div class="index">1</div>
                    <div class="name">Halcyon Birds</div>
                    <div class="time">4:34</div>
                </div>
                <div class="song">
                    <div class="index">2</div>
                    <div class="name">Happiest Man on Earth</div>
                    <div class="time">4:34</div>
                </div>
                <div class="song">
                    <div class="index">3</div>
                    <div class="name">Young Souls</div>
                    <div class="time">4:34</div>
                </div>
                <div class="song">
                    <div class="index">4</div>
                    <div class="name">Mild Blood</div>
                    <div class="time">4:34</div>
                </div>
                <div class="song">
                    <div class="index">5</div>
                    <div class="name">Happiest Man on Earth (Radio Edit)</div>
                    <div class="time">4:34</div>
                </div>
            </div>
        </div>
        <div class="controls">
            <div class="progress-bar"></div>
            <div class="song">Halcyon Birds</div>
            <a href="#" class="previous"><span class="icon"></span></a>
            <a href="#" class="toggle-play"><span class="icon"></span></a>
            <a href="#" class="next"><span class="icon"></span></a>
            <div class="time">3:51 / 4:34</div>
        </div>
    </div>
</body>
</html>