body
{
    background:#eee;
    font-family:Helvetica,Arial;
    font-size:14px;
}

.carousel
{
	position:relative;
	width:800px;
	height:400px;
	margin:0 auto;
	background:#ccc;
	perspective:800px;
	transform-style:preserve-3d;
}

.carousel .images
{
	position:absolute;
	top:50%;
	left:50%;
	width:0;
	height:0;
	transform-style:preserve-3d;
}

.carousel .image
{
	position:absolute;
	top:-100px;
	left:-100px;
	width:200px;
	height:200px;
	transform-style:preserve-3d;
}

.carousel .image img
{
	width:100%;
	height:100%;
}

.carousel .image.index-1 {transform:rotateY(0deg)   translateZ(241px);}
.carousel .image.index-2 {transform:rotateY(45deg)  translateZ(241px);}
.carousel .image.index-3 {transform:rotateY(90deg)  translateZ(241px);}
.carousel .image.index-4 {transform:rotateY(135deg) translateZ(241px);}
.carousel .image.index-5 {transform:rotateY(180deg) translateZ(241px);}
.carousel .image.index-6 {transform:rotateY(225deg) translateZ(241px);}
.carousel .image.index-7 {transform:rotateY(270deg) translateZ(241px);}
.carousel .image.index-8 {transform:rotateY(315deg) translateZ(241px);}